<h1>Welcome, <%= @user.name.titleize %>.</h1><br>

<h2>Your Account Info:</h2>
<h4>Email: <%= @user.email %></h4>
<h4>Telephone: <%= @user.telephone %></h4>
<% if !@user.uid.blank? && !@user.image.blank? %>
<h4>Facebook UID: <%= @user.uid %></h4>
<img src="<%= @user.image %>">
<% end %>
<h4>Admin?: <%= @user.admin? %></h4><br>


<h4><%=link_to "View Available Rooms", rooms_path %></h4>

<h4><%= link_to "View Reservations", user_reservations_path(current_user) %></h4>



<% if current_user.admin %>
	<h4><%= link_to "View User Accounts", users_path %></h4>
	<h4><%= link_to "Edit User Account", edit_user_path(@user) %></h4>
	<h4><%= link_to "Delete User Account", @user, method: :delete, data: {confirm: "Are You Sure?" } %></h4>
<% end %><br><br><br><br>

<h4><%= link_to "Back to Your Account", user_path(current_user) %></h4>

<%= link_to "Log Out", '/logout' %>