<h1>Welcome, <%= @user.name.titleize %>.</h1><br>

<h2>Your Account Info:</h2>
<h4>Email: <%= @user.email %></h4>
<h4>Telephone: <%= @user.telephone %></h4><br>

<h3><%=link_to "View Available Rooms", rooms_path %></h3><br>

<h3><%= link_to "View Reservations", user_reservations_path(current_user) %></h3><br>

<h3><%= link_to "Back to Your Account", user_path(current_user) %></h3><br><br>

<%= link_to "Log Out", '/logout' %>