<h1>Make a New Reservation</h1>

<%= form_tag "/reservations", method: "post" do %>
	Guest: <%= text_field_tag(:name, current_user.name) %><br>
	Room: <%= text_field_tag(:name, @room.name.captialize) %><br>
	Number of Guests: <%= number_field_tag(:guests, "guests", min: 1, max: @room.occpuancy) %><br>
	Check-In Date: <%= date_field_tag(:check_in, "check_in") %><br>
	Check-Out Date: <%= date_field_tag(:check_out, "check_out") %><br>
	<%= submit_tag "Create Reservation" %>
<% end %>