<h1>Reservation Info</h1>

<h3>Guest Name:  <%= @reservation.user.name %></h3>
<h3>Room Name:  <%= @reservation.room.name %></h3>
<h3>Number of Guests:  <%= @reservation.guests %></h3>
<h3>Check-In Date:  <%= @reservation.check_in %></h3>
<h3>Check-Out Date:  <%= @reservation.check_out %></h3>
<% if @reservation.user.admin == true %>
<h3>Discount Awarded:  <%= @reservation.discount %></h3>
<% end %>
<h3>Total ($):  <%= @reservation.total %></h3><br> 


<%= link_to "Back to Your Account", user_path(current_user) %>