<h1>Create a New Room</h1>

<%= form_for @room do |f| %>
  <%= f.label "Name" %><br />
  <%= f.text_field :name %><br />
  <%= f.label "Occupancy" %><br />
  <%= f.text_field :occupancy %><br />
  <%= f.label "Cost" %><br />
  <%= f.text_field :cost %><br />
  <%= f.submit "Create Room" %>
<% end %>