<h1><%= @room.name.capitalize %></h1>

<h3>Max Occupancy (# of Guests): <%= @room.occupancy %></h3>

<h3>Cost Per Night: $<%= @room.cost %></h3>

<% if !current_user.admin  %>
	<%= form_for @reservation do |f| %>
		<%= f.hidden_field(:room_id, :value => @room.id) %>
		<%= f.hidden_field(:user_id, :value => @user.id) %>
		<%= f.submit "Reserve This Room" %>
	<% end %>
<% end %>


<% if current_user.admin %>
	<h3>Current Reservations: </h3>
	<ul>
	<% @room.reservations.each do |reservation| %>
		<li><%= link_to("Check-In Date: #{reservation.check_in} - Days: #{days(reservation)}", reservation_path(reservation)) %>
	<% end %>
	</ul><br><br>
	<%= link_to "Edit Room", edit_room_path(@room) %>
<% end %><br><br>

<%= link_to "Back to Your Account", user_path(current_user) %>